.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact-form-wrapper {
  background-color: #faf9f6;
}

.contact-form-heading {
  margin-bottom: 5rem;
}

.contact-form-wrapper .field_input {
  margin-bottom: 24px;
}

.contact-form-wrapper .field_input input, .contact-form-wrapper .field_input textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: 12px 0;
  width: 100%;
  font-family: 'Nunito Sans';
  font-size: 14px;
  letter-spacing: 0.06rem;
  color: #1a1a1a;
  transition: border-color 0.3s ease;
}

.contact-form-wrapper .field_label {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  color: #000;
  font-size: 10px !important;
  letter-spacing: 0.1rem;
  pointer-events: none !important;
  font-family: 'Nunito Sans';
}

.contact-form-wrapper .field_input input:focus {
  outline: none !important;
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important;
}

.contact-form-wrapper .field_input textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
